.feature-texto{
	margin: 15px;
	padding: 35px;
}

.circleborder {
width: 250px;
height: 250px;
border-radius: 100px;
-webkit-border-radius: 150px;
-moz-border-radius: 100px;
box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
margin-left: 45px;
margin-top: 20px;
}

h1, h3{
	font-family: 'Pattaya', sans-serif;
}

p{
 font-family: 'Pattaya', sans-serif;

}

.footer-copyright {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.85);
    color: rgba(255,255,255,.6);

}

